.list-group-item {
    padding: 0.2rem 0.5rem;
}

.vertical-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-eliminar {
    padding: .1rem .5rem;
}

.item-tarea {
    background-color: none;
}

.item-tarea:hover {
    background-color: #d4edda;
}

.spinner-border {
    width: 1.7rem;
    height: 1.7rem;
}